<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ปฏิทินพร้อมวันหยุด</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>

  <body>
    <!-- Header -->
    <header>
      <nav>
        <ul>
          <li><a href="/">หน้าหลัก</a></li>
          <li><a href="/holidays">วันหยุดทั้งหมด</a></li>
        </ul>
      </nav>
    </header>

    <div class="calendar">
      <div class="calendar-header">
        <h2 id="monthYear"></h2>
      </div>
      <div class="days-of-week">
        <span>อา</span><span>จ</span><span>อ</span><span>พ</span><span>พฤ</span
        ><span>ศ</span><span>ส</span>
      </div>
      <div id="daysGrid" class="days-grid"></div>
    </div>

    <!-- ไฟล์ JavaScript หลัก -->
    <script src="/script.js"></script>
  </body>
</html>
